<!DOCTYPE html>
<html lang="fr">
<head>
    {% block head %}
    <title>Re7 {% block title %}{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="Re7, re7, recette, étudiants, enseirb, enseirb-matmeca">
    <meta name="description" content="Les étudiants aiment la cuisine">
    <meta name="author" content="gbea scassiau flevern">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/jquery-ui.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    {% endblock %}
</head>


{% set navigation_bar = [
    ('/', 'index', 'Accueil'),
    ('/recipes', 'recipes', 'Recettes'),
    ('/createRecipe', 'createRecipe', 'Nouvelle recette'),
    ('/ranking', 'ranking', 'Classements'),
    ('/about', 'about', 'À propos')
] -%}
{% set active_page = request.path|default('index') -%}

<body>
    {% block navbar %}
    <header class="navbar navbar-bright navbar-fixed-top" role="banner">
        <div class="container">
          <div class="navbar-header">
               <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                   <span class="sr-only">Toggle navigation</span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
               </button>
           </div>
            <nav class="collapse navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    {% for route, view, caption in navigation_bar %}
                        <li{% if route == active_page %} class="active"{% endif %}>
                            <a href="{{ url_for(view)|e }}">{{ caption|e }}</a>
                        </li>
                    {% endfor %}
                </ul>
                {% if current_user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            </span>{{ current_user.login }} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('manage') }}">Profil</a></li>
                                <li><a href="{{ url_for('logout') }}">Déconnection</a></li>
                            </ul>
                        </li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                </span>Connection <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('login') }}">Se connecter</a></li>
                                <li><a href="{{ url_for('register') }}">S'enregistrer</a></li>
                            </ul>
                        </li>
                    </ul>
                {% endif %}

            </nav>
        </div>
    </header>
    {% endblock %}


    <div id="masthead">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="lead"><a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo.png') }}" width="150px">&nbsp;&nbsp;Les étudiants aiment la cuisine</a></h1>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="col-md-12">
                        <div class="alert alert-info" role="alert">{{ message }}</div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>

    {% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <ul class="list-inline">
                        <li>
                            <div class="btn-facebook">
                                <a target="_blank" href="https://www.facebook.com/sylvain.cassiau?fref=ts">
                                    <i class="fa fa-facebook fa-2x"></i>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="btn-twitter">
                                <a target="_blank" href="https://twitter.com/guillaume_bea">
                                    <i class="fa fa-twitter fa-2x"></i>
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="btn-google-plus">
                                <a target="_blank" href="https://plus.google.com/u/0/101315220672404473103/posts">
                                    <i class="fa fa-google-plus fa-2x"></i>
                                </a>
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="col-sm-8">
                    <p align="right"> &copy; 2015 Re7 - Tous droits réservés</p>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}

    {% block js_footer %}
        <script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/validator.js') }}"></script>
    {% endblock %}
	</body>
</html>
