
<div class="bestrecipes">
    <ul class="img-list">
        <li>
            <div class="img-container">
                <a href="#">
                    <img src="{{ url_for('static', filename='images_db/0001.jpg') }}" />
                    <span class="text-content">
                        <span>
                            Gyoza
                            <br>
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star-half-empty"></i>
                            <i class="icon-star-empty"></i>
                        </span>
                    </span>
                </a>
            </div>
            <h3>Starter</h3>
        </li>
        <li>
            <div class="img-container">
                <a href="#">
                    <img src="{{ url_for('static', filename='images_db/0002.jpg') }}" />
                    <span class="text-content">
                        <span>
                            Ramen
                            <br>
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star-empty"></i>
                            <i class="icon-star-empty"></i>
                        </span>
                    </span>
                </a>
            </div>
            <h3>Main course</h3>
        </li>
        <li>
            <div class="img-container">
                <a href="#">
                    <img src="{{ url_for('static', filename='images_db/0003.jpg') }}" />
                    <span class="text-content">
                        <span>
                            Le Tiramisu de MascarponeSama
                            <br>
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                            <i class="icon-star"></i>
                        </span>
                    </span>
                </a>
            </div>
            <h3>Dessert</h3>
        </li>
    </ul>
</div>