{% set items = [
    ('Entrée', 'Gyoza', 'images_db/0001.jpg'),
    ('Plat', 'Ramen', 'images_db/0002.jpg'),
    ('Dessert', 'Le Tiramisu de MascarponeSama', 'images_db/0003.jpg'),
] -%}

<div class="bestrecipes">
    <ul class="img-list">
        {% for title, name, image in items %}
        <li>
            <div class="img-container">
                <a href="#">
                    <img src="{{ url_for('static', filename=image) }}" />
                    <span class="text-content">
                        <span>
                            {{ name }}
                            <br>
                            {% for i in range(5) %}
                            <i class="fa fa-star"></i>
                            {% endfor %}
                        </span>
                    </span>
                </a>
            </div>
            <h3>{{ title }}</h3>
        </li>
        {% endfor %}
    </ul>
</div>
