{% from "_macros.html" import render_field %}
{% extends template %}
{% block title %}Nouvelle recette{% endblock %}
{% block content %}

<h1>Ajouter une recette</h1>
<hr>

<div class='col-md-3'>
    <form class="form-horizontal" method="POST" action="{{ url_for('createRecipe') }}">
        {{ form.hidden_tag() }}
        {{ render_field(form.recipeName) }}
        {{ render_field(form.budget) }}
        {{ render_field(form.difficulty) }}
        {{ render_field(form.preparationTime) }}
        {{ render_field(form.cookingTime) }}
        {{ render_field(form.categoryID) }}
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

{% endblock %}
