{% from "_macros.html" import render_field %}
{% extends template %}
{% block title %}- Nouvelle recette{% endblock %}
{% block content %}

<h1>Ajouter une recette</h1>
<hr>

<div class='col-md-12'>
    <form data-toggle="validator" role=form class="form-horizontal" method="POST" action="{{ url_for('createRecipe') }}">
        {{ form.hidden_tag() }}
        {{ render_field(form.recipeName, required="true") }}
        {{ render_field(form.budget, required="true", type="number") }}
        {{ render_field(form.difficulty, required="true", type="number", min="1", max="5") }}
        {{ render_field(form.preparationTime, required="true", type="number") }}
        {{ render_field(form.cookingTime, required="true", type="number") }}
        {{ render_field(form.categoryID, required="true") }}
        <div class="input_fields_wrap">
            <p class="text-primary">Triez les étapes en les faisant glisser (l'étape 1 ne peut pas bouger) <i class="fa fa-hand-pointer-o"></i></p>
            <div class="form-group">
                <label for="steps-0" class="col-sm-2 control-label">Etape 1 </label>
                <div class="col-sm-4">
                    <textarea class="form-control" id="" rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="col-sm-offset-2">
            &nbsp;<input class="add_field_button btn btn-primary btn-sm-1" type="button" value="Ajouter une étape">
        </div>
        <hr>
        <div class="col-sm-offset-3">
            <button type="submit" class="btn btn-success btn-lg">Valider la recette</button>
        </div>
    </form>
</div>

{% endblock %}

{% block js_footer %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
{% endblock %}
