{% from "_macros.html" import render_field %}
{% extends template %}
{% block title %}- Nouvelle recette{% endblock %}
{% block content %}
    <div class="container">
        <h1>Ajouter une recette</h1>
        <hr>

        <form data-toggle="validator" role=form class="form-horizontal" method="POST" action="{{ url_for('createRecipe') }}" enctype="multipart/form-data">
            <h2>Description</h2>
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col-md-2 col-md-offset-2">
                    <img class="img-responsive" src="" height="200" id="preview" alt="Image preview...">
                </div>
            </div>
            {{ render_field(form.image, class="", onchange="previewFile();") }}
            {{ render_field(form.recipeName, required="true") }}
            {{ render_field(form.budget, required="true", type="number", min="0") }}
            {{ render_field(form.difficulty, required="true", type="number", min="1", max="5") }}
            {{ render_field(form.preparationTime, required="true", type="number", min="0") }}
            {{ render_field(form.cookingTime, required="true", type="number", min="0") }}
            {{ render_field(form.difficulty, required="true", type="number", min="1", max="5") }}
            {{ render_field(form.preparationTime, required="true", type="number", min="0") }}
            {{ render_field(form.cookingTime, required="true", type="number", min="0") }}
            {{ render_field(form.categoryID, required="true") }}
            <h2>Ingrédients</h2>
            <div class="row">
                <div class="col-md-8 col-md-offset-1">
                    <div class="col-md-2">{{ form.contains[0].isMain.label }}</div>
                    <div class="col-md-2">{{ form.contains[0].quantity.label }}</div>
                    <div class="col-md-3">{{ form.contains[0].unitID.label }}</div>
                    <div class="col-md-4">{{ form.contains[0].ingredientName.label }}</div>
                </div>
            </div>
            <div class="input_ingredients">
                <div class="row input_ingredients">
                    <div class="col-md-8 col-md-offset-1">
                        {{ form.contains[0].hidden_tag() }}
                        <div class="col-md-1">
                            {{ form.contains[0].isMain(class_="checkbox") }}
                        </div>
                        <div class="col-md-2 col-md-offset-1">
                            {{ form.contains[0].quantity(class_="form-control", required="true", type="number") }}
                        </div>
                        <div class="col-md-3">
                            {{ form.contains[0].unitID(class_="form-control") }}
                        </div>
                        <div class="col-md-4">
                            {{ form.contains[0].ingredientName(class_="form-control autocomplete") }}
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-2">
                    &nbsp;<input class="repeat-ingredient btn btn-primary btn-sm-1" type="button" value="Ajouter un ingrédient">
                </div>
            </div>
            <h2>Préparation</h2>
            <p class="text-primary">Triez les étapes en les faisant glisser (l'étape 1 ne peut pas bouger) <i class="fa fa-hand-pointer-o"></i></p>
            <div class="input_steps">
                <div class="form-group">
                    <label for="steps-0" class="col-sm-2 control-label">Etape 1 </label>
                    <div class="col-sm-4">
                        <textarea class="form-control" name="steps-0" id="steps-0" rows="3" required="true"></textarea>
                    </div>
                </div>
                <div class="col-md-offset-2">
                    &nbsp;<input class="repeat-step btn btn-primary btn-sm-1" type="button" value="Ajouter une étape">
                </div>
            </div>
            <hr>
            <div class="col-md-6 col-md-offset-3" align="center">
                <button type="submit" class="btn btn-success btn-lg">Valider la recette</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block js_footer %}

    {{ super() }}
    <script>
        var ingredients = {{ ingredients|tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
{% endblock %}
