{% from "_macros.html" import render_field %}
{% extends template %}
{% block title %}- Editer recette{% endblock %}
{% block content %}
    <div class="container">
        <h1>Editer une recette</h1>
        <hr>
        <form data-toggle="validator" role=form class="form-horizontal" method="POST" action="{{ url_for('editRecipe', id=id) }}" enctype="multipart/form-data">
            <h2>Description</h2>

            {{ render_field(form.recipeName, required="true") }}
            {{ render_field(form.budget, required="true", type="number", step="0.01", min="0.01", unit="€") }}
            {{ render_field(form.difficulty, required="true", type="number", min="1", max="5", unit="/5") }}
            {{ render_field(form.preparationTime, required="true", type="number", min="0", unit="min") }}
            {{ render_field(form.cookingTime, required="true", type="number", min="0", unit="min") }}
            {{ render_field(form.categoryID, required="true") }}
            <h2>Ingrédients</h2>
            <div class="row">
                <div class="col-md-8 col-md-offset-1">
                    <div class="col-md-2">{{ form.contains[0].isMain.label }}</div>
                    <div class="col-md-2">{{ form.contains[0].quantity.label }}</div>
                    <div class="col-md-3">{{ form.contains[0].unitID.label }}</div>
                    <div class="col-md-4">{{ form.contains[0].ingredientName.label }}</div>
                </div>
            </div>
            <div class="input_ingredients">
                {% for contain in form.contains %}
                <div class="row input_ingredients">
                    <div class="col-md-8 col-md-offset-1">
                        {{ contain.hidden_tag() }}
                        {{ contain.unitID(style="display:none;") }}
                        {{ contain.ingredientName(type="hidden") }}
                        <div class="col-md-1">
                            {{ contain.isMain(class_="checkbox") }}
                        </div>
                        <div class="col-md-2 col-md-offset-1">
                            {{ contain.quantity(class_="form-control", required="true", type="number") }}
                        </div>
                        <div class="col-md-3">
                            {{ choices[contain.unitID.data] }}
                        </div>
                        <div class="col-md-4">
                            {{ contain.ingredientName.data }}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <h2>Préparation</h2>
            <div class="input_steps">
                {% for step in form.steps %}
                <div class="form-group">
                    <label for="steps-0" class="col-sm-2 control-label">{{step.label}}</label>
                    <div class="col-sm-4">
                        {{step(class="form-control")}}
                    </div>
                </div>
                {% endfor %}

            </div>
            <hr>
            <div class="col-md-6 col-md-offset-3" align="center">
                <button type="submit" class="btn btn-success btn-lg">Valider la recette</button>
            </div>
        </form>
    </div>
{% endblock %}

{% block js_footer %}

    {{ super() }}
    <script>
        var ingredients = {{ ingredients|tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
{% endblock %}
