{% extends template %}
{% block title %}{% endblock %}
{% block content %}

<div class="container">
<div class="row">
    <div class="col-md-8">
        <h1>Bienvenue sur Re7 !</h1>
        <br>
        Ce site internet rassemble les meilleures recettes que les étudiants de l'ENSEIRB-MATMECA ont jamais cuisinées. <br>
        Trouve ton plat favoris et n'oublie pas de lui donner une note. <br>
        <!--
        This website gather the best recipes the ENSEIRB-MATMECA students have ever cooked. <br>
        Find your favorite meal and don't forget to grade it.<br>
         -->
        <br>
        <h4>Bon appétit !</h4>
        <br>
    </div>
</div>
</div>



<hr>
<div class="row">
    <div class="p-img-container">
        <div class="parallax"></div>
        <span class="p-content">
            <span class="p-content-cell">
                Rechercher une recette
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Rechercher ...">
                    <span class="input-group-btn">
                        <a href="{{ url_for('index') }}">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </a>
                    </span>
                </div>
                <p align="right"><a href="{{ url_for('recipes') }}"><u>Recherche avancée</u></a></p>
            </span>
        </span>
    </div>
</div>
<hr>


<div class="container">

  <h1>Les meilleures recettes</h1>

  <br><br>

  <div class="bestrecipes">
      <ul class="img-list">
          {% for recipe in bestRecipes %}
          <li>
              <div class="img-container">
                  <a href="{{ url_for('recipe', id=recipe.recipeID) }}">
                      <img src="{{ images[recipe.recipeID] }}" />
                      <span class="text-content">
                          <span>
                              {{ recipe.recipeName }}
                              <br>
                              {{ recipe.login }}
                              <br>
                              {% for i in range(recipe.avgScore) %}
                              <i class="fa fa-star"></i>
                              {% endfor %}
                              {% if recipe.avgScore > recipe.avgScore|round %}
                              <i class="fa fa-star-half-o"></i>
                              {% endif %}
                              {% for i in range(5 - recipe.avgScore) %}
                              <i class="fa fa-star-o"></i>
                              {% endfor %}
                          </span>
                      </span>
                  </a>
              </div>
              <h3>{{ recipe.category }} <span class="badge">{{ recipe.categoryCount }}</span></h3>
          </li>
          {% endfor %}
      </ul>
  </div>

</div>

{% endblock %}
