{% from "_macros.html" import render_field, render_stars %}
{% extends template %}
{% block title %}- {{ recipe.recipeName }}{% endblock %}
{% block content %}
    <div class="container">
        <h1>{{ recipe.recipeName }}</h1>
          <h4>
            <span class="label label-primary">{{ recipe.categoryName }}</span>&nbsp;
            {% for ingredient in ingredients %}
            {% if ingredient.isMain %}
            <span class="label label-success">{{ ingredient.ingredientName }}</span>&nbsp;
            {% endif %}
            {% endfor %}
          </h4>
        <hr>

        <div class=row>
            <div class="col-md-3">
                <img class="img-responsive" src="{{ image }}" alt="{{ recipe.image }}" />
            </div>
            <div class="col-md-4">
                <ul>
                    <li>Auteur : <a href="{{ url_for('user', id=recipe.userID) }}">{{ recipe.login }}</a></li>
                    <li>Catégorie : {{ recipe.categoryName }}</li>
                    <li>Prix : ~{{ recipe.budget }}€</li>
                    <li>Difficulté : {{ recipe.difficulty }}/5</li>
                    <li>Temps de préparation : ~{{ recipe.preparationTime }}min</li>
                    <li>Temps de cuisson : ~{{ recipe.cookingTime }}min</li>
                    <br>
                    <li>Qualité des instructions : <i class="fa fa-star-o"></i></li>
                </ul>
            </div>
        </div>
        <div class=row>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Ingrédients</strong></div>
                    <ul class="list-group">
                        {% for ingredient in ingredients %}
                            <li class="list-group-item">{{ ingredient.quantity }} {{ ingredient.unitName }} de {{ ingredient.ingredientName }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading"><strong>Préparation</strong></div>
                    <div class="panel-body">
                        {% for step in steps %}
                            <strong class="text-uppercase">Étape {{ step.stepCount }}</strong><br>
                            {{ step.stepDescription }}<br><br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <hr>
          <h2>Commentaires</h2>
          {% for comment in comments %}
          <div class="container">
            <div class="col-md-2">
                <br>
                Qualité gastronomique <br>
                Respect du budget <br>
                Clareté des instructions
            </div>
            <div class="col-md-2">
                <br>
                {{ render_stars(5, comment.tasteScore) }}<br>
                {{ render_stars(5, comment.priceScore) }}<br>
                {{ render_stars(5, comment.instructionScore) }}
            </div>
            <div class="col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                            <a href="{{ url_for('user', id=recipe.userID) }}">{{ comment.login }}</a><br>
                            {{ comment.comment}}<br><br>
                            <small>{{ comment.commentDate }}</small>
                    </div>
                </div>
            </div>
          </div>
          {% endfor %}
        <hr>
          <h2>Ajouter un commentaire</h2>
          <div class='col-md-12'>
              <form data-toggle="validator" role=form class="form-horizontal" method="POST" action="{{ url_for('recipe', id=recipe.recipeID) }}">
                  {{ form.hidden_tag() }}
                  <div class="form-group">
                      {{ form.tasteScore.label(class="col-sm-2 control-label") }}
                      <div class='col-sm-4 star-rating star-5'>
                          {% for subfield in form.tasteScore %}
                              {{ subfield }}<i></i>
                          {% endfor %}
                      </div>
                  </div>
                  <br>
                  <div class="form-group">
                      {{ form.priceScore.label(class="col-sm-2 control-label") }}
                      <div class='col-sm-4 star-rating star-5'>
                          {% for subfield in form.priceScore %}
                              {{ subfield }}<i></i>
                          {% endfor %}
                      </div>
                  </div>
                  <br>
                  <div class="form-group">
                      {{ form.instructionScore.label(class="col-sm-2 control-label") }}
                      <div class='col-sm-4 star-rating star-5'>
                          {% for subfield in form.instructionScore %}
                              {{ subfield }}<i></i>
                          {% endfor %}
                      </div>
                  </div>
                  {{ render_field(form.comment) }}

                  <div class="col-sm-offset-3">
                      <button type="submit" class="btn btn-success btn-lg">Commenter</button>
                  </div>
              </form>
          </div>
        <br>
    </div>
{% endblock %}
