{% extends template %}
{% block title %}- {{ recipe.recipeName }}{% endblock %}
{% block content %}

    <h1>{{ recipe.recipeName }}</h1>
    <hr>

    <h2>Description</h2>
    <ul>
        <li>Auteur : <a href="{{ url_for('user', id=recipe.userID) }}">{{ recipe.login }}</a></li>
        <li>Catégorie : {{ recipe.categoryName }}</li>
        <li>Prix : ~{{ recipe.budget }}€</li>
        <li>Difficulté : {{ recipe.difficulty }}/5</li>
        <li>Temps de préparation : ~{{ recipe.preparationTime }}min</li>
        <li>Temps de cuisson : ~{{ recipe.cookingTime }}min</li>
    </ul>

    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Ingrédients</strong></div>
            <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading"><strong>Préparation</strong></div>
            <div class="panel-body">
                {% for step in steps %}
                    <strong class="text-uppercase">Étape {{ step.stepCount }}</strong><br>
                    {{ step.stepDescription }}<br><br>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
