{% extends template %}
{% block title %}- {{ recipe.recipeName }}{% endblock %}
{% block content %}

<h1>{{ recipe.recipeName }}</h1>
<hr>

<h2>Description</h2>
<ul>
    <li>Auteur : <a href="{{ url_for('user', id=recipe.userID) }}">{{ recipe.login }}</a></li>
    <li>Catégorie : {{ recipe.categoryName }}</li>
    <li>Prix : ~{{ recipe.budget }}€</li>
    <li>Difficulté : {{ recipe.difficulty }}/5</li>
    <li>Temps de préparation : ~{{ recipe.preparationTime }}min</li>
    <li>Temps de cuisson : ~{{ recipe.cookingTime }}min</li>
</ul>

<h2>Étapes</h2>
<ul>
{% for step in steps %}
    <li>Étape {{step.stepCount}} : {{ step.stepDescription}}</li>
{% endfor %}
</ul>

{% endblock %}
