{% from "_macros.html" import render_stars %}
{% extends template %}
{% block title %}- {{ user.login }}{% endblock %}
{% block content %}
    <div class="container">
        <h1>{{ user.login }}</h1>
        <hr>

        {{ user.login }} propose des recettes qui valent en moyenne <b>{{ priceAvg.priceAvg|round(2, 'floor') }} €</b>.

        <hr>

        <h2>Toutes les recettes de {{ user.login }}</h2>

        <ul class="media-list list-inline recipelist">
            {% for recipe in recipes %}
            <li class="media">
                <a href="{{ url_for('recipe', id=recipe.recipeID) }}">
                  <div class="media-left">
                    <img width="100" class="media-object img-responsive img-circle" src="{{ images[recipe.recipeID] }}" />
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">{{ recipe.recipeName }}</h4>
                    {{ "Pas encore de note" if averages[recipe.recipeID] is none else render_stars(5, averages[recipe.recipeID].averageScore) }}
                  </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
