/* override bootstrap styles */
@import url('http://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');

.navbar-form input, .form-inline input {
  width:auto;
}

body {
  padding-top:50px;
  color:#646464;
  background-color:#ffffff;
}

h1,h2,h3, h4,.highlight,.navbar a,#masthead h4 {
  font-family:'Oswald',arial narrow,sans-serif;
}

h5 {
    font-size: 20px;
    font-family: arial, sans-serif;
}

footer {

  margin-top:40px;
  padding-top:40px;
  padding-bottom:40px;
  background-color:#ffffff;

}


#masthead {
    min-height:199px;
    background-color:#2d8b00;
}

#masthead h1 {
    line-height: 1;
    margin-top:20px;
}

#masthead h1 a {
    font-size: 55px;
    text-decoration:none;
    color:#fefeff;
}

#topPanel {
  padding-top:0px;
  padding-left:22px;
  padding-right:22px;
}
#topPanel .panel-body {
  padding-top:0px;
}

.navbar.affix {
  position:fixed;
  top:0;
  width:100%;
}

.top-spacer {
  margin-top: 34px;
  background-color:#ffffff;
  height:40px;
}


.icon-bar {
  background-color:#fff;
}

@media screen and (min-width: 768px) {
  #masthead h1 a {
    font-size: 70px;
  }
}

.navbar-bright {
  background-color:#2d8b00;
  box-shadow: 0px -2px 10px #000000;
  color:#fff;
  margin-bottom: 0;
  border-width: 0;
}

.navbar-bright a, .navbar-bright .navbar-brand, #masthead h4 {
  color:#ffffff;
  font-size:14px;
  text-transform: uppercase;
  letter-spacing:.08em;
}

.navbar-bright li > a:hover,
.navbar-bright li.active,
.nav > li.dropdown > a:hover,
.nav > li.dropdown.open.active > a:hover,
.nav > li.dropdown.open > a {
  background-color:#B0CC99;
}

.nav > li.dropdown > a {
    background-color:#2d8b00;
}

.dropdown-menu {
  min-width: 250px;
}

.caret {
  color:#fff;
}

.navbar-toggle {
  color:#fff;
  border-width:0;
}

.navbar-toggle:hover {
  background-color:#ffffff;
}

.panel {
  border-color:rgba(0, 0, 0, 0.1);
  border-radius:0;
}

.thumbnail {
  margin-bottom:8px;
}

.img-container {
  overflow:hidden;
  height:170px;
}

.img-container img {
  min-width:280px;
  min-height:180px;
  max-width:380px;
  max-height:280px;
}

.txt-container {
  overflow:hidden;
  height:100px;
}

.panel .lead {
  overflow:hidden;
  height:90px;
}

.label-float{
  margin:0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  width:100%;
  opacity:.9;
  padding:6px;
  color:#fff;
}

.form-group div.alert {
    padding: 7px;
    margin-bottom: 0px;
    margin-top: 5px;
}

.alert-dismissable .close, .alert-dismissible .close {
    color: inherit;
    position: relative;
    top: -2px;
    right: 0px;
}

.form-group textarea.form-control {
    resize: none;
}


.p-img-container {
    height:350px;
    width:100%;
    overflow:hidden;
    position: relative;
}

.p-img-container div.parallax {
    left: 0;
    right: 0;
    z-index: -1;

    padding-top:150px;
    padding-bottom:200px;

    display: block;
    background-color: transparent;
    background-image: url("/static/images/test.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.p-img-container span.p-content {
    display:table;
    height:350px;
    width:40%;
    margin-right:30%;
    margin-left:30%;
    position:absolute;
    top:0;
    z-index:0;
}

.p-img-container span.p-content span.p-content-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    color:#ffffff;
    font-family:'Oswald',arial narrow,sans-serif;
    font-size: 25px;
}

.p-img-container span.p-content span.p-content-cell a {
    text-decoration:none;
    font-size:15px;
    font-weight:bold;
    color:#ffffff;
    text-align:right;
}



.bestrecipes {
    text-align: center;
}

.bestrecipes ul.img-list {
    list-style-type: none;
    margin-left: auto;
    padding-left: 120px;
}

.bestrecipes ul.img-list li {
    display: inline-block;
    margin: 0 120px 120px 0;
    position: relative;
}

.bestrecipes ul.img-list li div.img-container {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.bestrecipes ul.img-list li img {
    height:200px;
    margin-left: -50px;
}

.bestrecipes span.text-content span {
    display: table-cell;
    vertical-align: middle;
    color:#ffffff;
    font-family:'Oswald',arial narrow,sans-serif;
    font-size: 20px;
}

.bestrecipes span.text-content {
    background: rgba(0,0,0,0.3);
    border-radius: 50%;
    cursor: pointer;
    display: table;
    height: 200px;
    left: 0;
    position: absolute;
    top: 0;
    width: 200px;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}

.bestrecipes ul.img-list li:hover span.text-content {
    opacity: 1;
}

span.content {
    display:table;
    width:40%;
    margin-right:30%;
    margin-left:30%;
}

span.content span.content-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    color:#ffffff;
    font-family:'Oswald',arial narrow,sans-serif;
    font-size: 25px;
}




.form-inline > * {
    margin:2px 5px;
}

.ck-button {
    display:block;
    background-color:#cecece;
    padding: 2px 6px 2px 6px;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;

    font-family:arial, sans-serif;
    font-weight:bold;
    font-size:15px;
    color: #646464;

    -webkit-transition: color 300ms;
    -moz-transition: color 300ms;
    -o-transition: color 300ms;
    transition: color 300ms;

    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    -o-transition: background-color 300ms;
    transition: background-color 300ms;
}

.ck-button:hover {
    background-color:#2d8b00;
    cursor: pointer;
    color: #ffffff;
}

.filter input[type=checkbox] {
    position:absolute;
    opacity:0;
}

.filter input[type=checkbox] + label {
    display:block;
    background-color:#cecece;
    padding: 1px 5px 1px 5px;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;

    font-family:arial, sans-serif;
    font-weight:bold;
    font-size:15px;
    color: #646464;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-transition: color 300ms;
    -moz-transition: color 300ms;
    -o-transition: color 300ms;
    transition: color 300ms;

    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    -o-transition: background-color 300ms;
    transition: background-color 300ms;
}

.filter input[type=checkbox]:checked + label,
.filter input[type=checkbox]:checked + label:hover {
    background-color:#2d8b00;
    cursor: pointer;
    color: #ffffff;
}

.filter input[type=checkbox] + label:hover {
    background-color:#B0CC99;
    cursor: pointer;
    color: #ffffff;
}



ul.recipelist li {
  margin: 30px;
}

ul.recipelist li.media .media-body {
  width:100px;
  vertical-align: middle;
}

ul.recipelist li a {
  text-decoration: none;
  color: inherit;
}

ul.recipelist li a:hover {
  color: #000000;
}


.input_ingredients {
  padding-bottom: 15px;
}



footer {
    margin-top:40px;
    padding-top:40px;
    padding-bottom:30px;
    background-color:#cecece;
}

footer ul li {
    margin-left:10px;
}


li.active{
    text-decoration: none;
    background-color: #eee;
}

.btn-facebook a {text-decoration:none; color:inherit;}
.btn-facebook a:hover {color:#3b5998;}

.btn-twitter a {text-decoration:none; color:inherit;}
.btn-twitter a:hover {color:#4099FF ;}

.btn-google-plus a {text-decoration:none; color:inherit;}
.btn-google-plus a:hover {color:#d34836;}
